@CHARSET "UTF-8";

ul.nobullet{
	list-style-type: none;
}

li.inl{
	display: inline;
}

button{
	background-color: #4CAF50;
}

span.succes{
	color: green;
	font-size: 20pt;
}

h1.error{
	color: red;
}

hr.myhline {
 -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #AAAAAA;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.button {
background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:link{
	text-decoration: none;
	color: blue;
}

.button:hover{
	background-color: #2e7431; /* Green */
	text-decoration: none;
	color: white;
}

.button:visited{
	text-decoration: none;
	color: white;
}

.button:active{
	text-decoration: none;
	color: black;
}

footer.sticky{
	position: fixed;
	bottom: 0;
	width: 100%;
}